/* Text.module.css */
.title {
  font-size: 2rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
}
.body {
  font-size: 1rem;
}
.caption {
  font-size: 0.8rem;
}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.color-primary {
  color: #000;
}
.color-secondary {
  color: #fff6c9;
}
.color-error {
  color: #f00;
}
.color-success {
  color: #464c91;
}
.color-black {
  color: #101010;
}
.color-grey {
  color: #606060;
}
.color-whitegrey {
  color: #d6d8d9;
}

.color-white {
  color: #fff;
}

.size-small {
  font-size: 1em;
}
.size-medium {
  font-size: 1.2em;
}
.size-large {
  font-size: 1.5em;
}
.size-xlarge {
  font-size: 2.5em;
}

.weight-normal {
  font-weight: normal;
}
.weight-bold {
  font-weight: bold;
}
