body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ededed;
}
.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.alignCenter {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 추가 */
}
