.quizCard {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #101010;
}

.quizTitle {
  font-size: 25px;
  font-weight: bold;
  color: #101010;
  margin-top: 5px;
  margin-bottom: 12px;
}

.divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 12px 0;
}

.quizDescription {
  color: #606060;
  font-size: 18px;
}
